* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

/* TODO change "main" to a better name */
.main {
    max-width: 300px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
