* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#smiley {
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
}

#source {
    position: fixed;
    bottom: 30px;
    left: 30px;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoom {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 100px white;
    color: white;
}

.mainForm {
    max-width: 300px;
    margin-top: 10px;
}

.photo {
    border-left: 10px;      /* this seems like a little bit of a hack */
    border-right: 10px;
    border-bottom: 10px;
}
